.produtosContainer{
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    .produto{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        max-width: 300px;
        max-width: 300px;
        border: solid black 1px;
    }
}